

body{
	padding-top: 20px;
}

h1 {
	text-transform: capitalize;
    text-align: center;
	margin-top: 0px;
	margin-bottom: -20px;
    font: 100px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

.colour{
	color: #4169E1;
}

h3 {
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
    font: 25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

h4 {
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
    font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 380px;
}

div.gallery:hover {
    border: 1px solid #4B99AD;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   justify-content: center;
}
.grid > div {
  display: flex; 
  flex-basis: calc(20% - 14px);  
  justify-content: center;
  flex-direction: column;
}


.grid > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px 0px 10px 10px}



#customers {
	margin-top: 20px;
	margin-bottom: 40px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: collapse;
    width: 90%;
	font-size: 15px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4B99AD;
    color: white;
}


button{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}